# Ignore local data mounted to Docker container, but keep the actual directory.
data/*
!data/.gitkeep

# Python files.
venv/
__pycache__/

# Rust files.
target/
rust-project.json

# Bazel files.
# No trailing / since these are symlinks, not directories.
bazel-bin
bazel-out
bazel-testlogs
bazel-mjolnir
*.bazel.lock
